
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

   <link rel="stylesheet" href="{% static 'style.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">



</head>
<style>
 
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@600;700&display=swap');
/* 
body {
  background-color: rgb(246, 214, 219);
} */

.ticket {
  font-family: 'Luckiest Guy', cursive;
  font-size: clamp(2.2rem, 6vw, 4.5rem);
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: 4px;
  color: rgb(244, 47, 47);
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

h1 img{
  height: 200px;
  width: 200px;
}


</style>
<body >
  
 {% include 'navbar1.html' %}




 <h1 class="text-center ticket ">
Ticket Details</h1>

   {% for i in sport_ticket %}
   
       <div class="  mt-5  d-flex flex-md-row flex-column justify-content-center align-items-center  "> 
        <div class=" three"> 
          <div class=" card" style="width: 310px; height: 350px;">
            <img src="{{i.sport.image.url}}" class=" card-img-top img-fluid" alt="" style="object-fit: fill; height: 350px;">
          </div>
        </div>
        <div class=" two ">  
          <div class=" card shadow" style="width: 310px; height: 350px;">
            <h5 class="text-success mt-4 text-center fw-bold">️✅Successfully Booked</h5>
             <h4 class="text-center ">{{i.sport.name}}</h4>

             <p class="text-center">{{i.sport.Date}} | {{i.sport.Time}} </p>
             <p class="text-center">{{i.sport.Location}}</p>

             <p class="text-center"> Total Ticket:{{i.Total_ticket}}</p>
             <p class="text-center">B_ Time:{{i.created_at}}</p>
             
          <hr class=" ms-3 me-3 " style="width: 280px;">
             <h5 class="text-center">Total Price: ₹{{i.Total_price}}</h5>
  
            </div>

          </div>
        </div>
      </div>

   {% endfor %}
   


    
     {% for i in music_tickets %}
<div class="mt-5 d-flex flex-md-row flex-column justify-content-center align-items-center"> 
  <div class="three"> 
    <div class="card" style="width: 310px; height: 350px;">
      {% if i.music.image %}
      <img src="{{ i.music.image.url }}" class="card-img-top img-fluid" alt="" style="object-fit: fill; height: 350px;">
      {% endif %}
    </div>
  </div>
  <div class="two">  
    <div class="card shadow" style="width: 310px; height: 350px;">
      <h5 class="text-success mt-4 text-center fw-bold">️✅Successfully Booked</h5>
      <h4 class="text-center">{{ i.music.name }}</h4>
      <p class="text-center">{{ i.music.Date }} | {{ i.music.Time }}</p>
      <p class="text-center">{{ i.music.Location }}</p>
      <p class="text-center">Total Ticket: {{ i.Total_ticket }}</p>
      <p class="text-center">B_ Time: {{ i.created_at }}</p>
      <hr class="ms-3 me-3" style="width: 280px;">
      <h5 class="text-center">Total Price: ₹{{ i.Total_price }}</h5>
    </div>
  </div>
</div>
{% endfor %}



   {% if comedy_tickets %}
    
     {% for i in comedy_tickets %}
<div class="mt-5 d-flex flex-md-row flex-column justify-content-center align-items-center"> 
  <div class="three"> 
    <div class="card" style="width: 310px; height: 350px;">
      {% if i.comedy.image %}
      <img src="{{ i.comedy.image.url }}" class="card-img-top img-fluid" alt="" style="object-fit: fill; height: 350px;">
      {% endif %}
    </div>
  </div>
  <div class="two">  
    <div class="card shadow" style="width: 310px; height: 350px;">
      <h5 class="text-success mt-4 text-center fw-bold">️✅Successfully Booked</h5>
      <h4 class="text-center">{{ i.comedy.name }}</h4>
      <p class="text-center">{{ i.comedy.Date }} | {{ i.comedy.Time }}</p>
      <p class="text-center">{{ i.comedy.Location }}</p>
      <p class="text-center">Total Ticket: {{ i.Total_ticket }}</p>
      <p class="text-center">B_ Time: {{ i.created_at }}</p>
      <hr class="ms-3 me-3" style="width: 280px;">
      <h5 class="text-center">Total Price: ₹{{ i.Total_price }}</h5>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% for i in movie_tickets %}
<div class="mt-5 d-flex flex-md-row flex-column justify-content-center align-items-center"> 
  <div class="three"> 
    <div class="card" style="width: 310px; height: 350px;">
      {% if i.movie.image %}
      <img src="{{ i.movie.image.url }}" class="card-img-top img-fluid" alt="" style="object-fit: fill; height: 350px;">
      {% endif %}
    </div>
  </div>
  <div class="two">  
    <div class="card shadow" style="width: 310px; height: 350px;">
      <h5 class="text-success mt-4 text-center fw-bold">✅ Successfully Booked</h5>
      <h4 class="text-center">{{ i.movie.name }}</h4>
      <p class="text-center"> {{ i.show_date  }} | {{ i.show_time  }}</p>
      <p class="text-center">Vetri Cenimas, Madurai</p>
     <p class="text-center">Seats: 
      {% for seat in i.seats %}
        {{ seat }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    <p class="text-center">B_Time{{i.booked_at}}</p>
    <p class="text-center">
      Total Price: ₹{{ i.total_price }}
    </p>

      
    </div>
  </div>
</div>
{% endfor %}





<p class="mt-5"></p>
<div>

  {% include 'footer.html' %}
</div>
    
     
<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>